body{background:url(../images/header-bg.png) repeat-x;}
.w{width:940px;margin:0 auto}
.header{padding:36px 0 44px;}
.header .logo{width:315px;height:78px;background:url(../images/logo.png) no-repeat;}
.header .nav{float:right;}
.header .nav li{float:left;padding:0 10px 9px;border-left:1px dotted #d6d6d6;margin-top:21px;}
.header .nav a{color:#666;font:14px Georgia;text-decoration:none;}
.header .nav p{color:#b7b7b7;font:11px Tahoma;}
